@model List<Company>


<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Company List</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-4">
			<div class="col-6 col-lg-3 text-center mb-3">
				<a asp-controller="Home" asp-area="Customer" asp-action="Index" class=" btn btn-outline-primary border-1 form-control border-secondary">
					<small>Back to home</small>
				</a>
			</div>
			<div class="col-6 col-lg-3 offset-lg-6  text-end">
				<a asp-controller="Company" asp-action="CompanyUpsert" class=" btn btn-primary border-1 form-control border-secondary">
					<i class="bi bi-plus"></i> <small>Create New Company</small>
				</a>
			</div>
			
		</div>
		<div class="table-responsive">
			<table id="tblData" class="table table-bordered table-striped text-center" style="width:100%">
				<thead class="border">
					<tr>
						<td class="text-center hidden-xs">Name</td>
						<td class="text-center hidden-xs">Street Address</td>
						<td class="text-center hidden-xs">City</td>
						<td class="text-center hidden-xs">State</td>
						<td class="text-center hidden-xs">Postal Code</td>
						<td class="text-center hidden-xs">Phone Number</td>
						<td class="text-center hidden-xs"></td>
					</tr>
				</thead>
			</table>
		</div>

	</div>
</div>

@section Scripts{
	<script src="/js/company.js"></script>
}